<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="lost content">
      <h2>All Census</h2>
      <div class="dropdown">
          <button class="dropbtn">Find Name</button>
          <div class="dropdown-content">
            <% if (allCensus.length > 0) { %> <% allCensus.forEach(census => { %>
                <p class="census">
                  <a href="<%= census.family_name%>"><b><%= census.family_name%>,</b>
                    <%=census.parent1_first_name%> <br/>
                    <span>Household ID:</span> <%=census.household_id%></a>
                </p>
                <% }) %> <% } %>
          </div>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>




    
